<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
    <div class="form-body">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <%= form_with url: "/users/create", method: :post do |form| %>
        <%= form.label :name, "ユーザー名" %>
        <%= form.text_field :name %>
        <%= form.label :email, "メールアドレス" %>
        <%= form.text_field :email %>
        <%= form.label :password, "パスワード" %>
        <%= form.password_field :password %>
        <%= form.label :is_trainer, "トレーナーとして登録しますか？" %>
        <%= form.check_box :is_trainer, {}, "trainer", "trainee" %>
        <%= form.submit "新規登録" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
