<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <h3>プロフィール</h3>
      <p><%= @user.location %>  <%= @user.gender %>  <%= @user.age %></p>
      <p class="text_display"><%= @user.profile %></p>
    </div>
  </div>
</div>
