<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/trainer_images/#{@trainer.image_name}" %>"> 
      <h2><%= @trainer.name %></h2>
      <p><%= @trainer.email %></p>
      <%= link_to("編集", "/trainers/#{@trainer.id}/edit") %>
      <p>プロフィール</p>
      <p><%= @trainer.location %>  <%= @trainer.gender %>  <%= @trainer.age %></p>
      <p><%= @trainer.profile %></p>
    </div>
  </div>
</div>
